# First Look to the Data and Cleaning & Exploring

Water is one of the main sources for people and also countries. Even clean water is worthless. Tanzania is a developing country which has clean water problem. According to [worldometers.info](https://www.worldometers.info/world-population/tanzania-population/), Tanzanian population is 59,353,795 and it has to provide more than 59 million people to clean water. There are many water wells which already established, but also there are many useless wells or some are in need of repair. 

Drivendata has begun a competition 'Pump It Up' to point this problem. With the predictive model, people can understand which water points are functional, nonfunctional and functional but it needs to repair. This model can help the Tanzanian government to find likely maintenance needy wells or give an useful information for future wells. 

Our aim in the project to build a model which tells the status of the water points (as functional, nonfunctional, functional but needs repair). With this model, we will help to the Tanzanian authorities how to use water sources as a productive way. It also helps the investment of the government on wells.

## Aim of This Notebook

Aim of this notebook is data understanding, preparation and exploration. In this notebook, we will download data, try to understand the columns meanings. We will also discover what kind of data cleaning is required. With the help of visualizations, we will look at the some features. Then, we will prepare our data to modeling. We will drop some duplicated or uncessary informations or handle null or meaningless valeus.

At the end of the notebook, all explorations, which are obtained by the first look of the data, can be found as a list.

## Data Source

The original data can be obtained by the [DrivenData 'Pump it Up: Data Mining the Water Table' competition](https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/23/). Basically, there are 4 different data sets; submission format, training set, test set and train labels set which contains status of wells.  With given training set and labels set, competitors are wanted to build predictive model and apply it to test set to determine status of the wells and submit. 

In this project, we will use train set and train label set. Train set has 59400 water points data with 40 features. Train labels data has 59400 same water points with train set but just has information about id of these points and status of them.

## Importing Necessary Libraries

In [1]:
import numpy as np      # To use np.arrays
import pandas as pd     # To use dataframes

# To plot
import matplotlib.pyplot as plt  
%matplotlib inline        
import seaborn as sns

In [2]:
pd.options.display.max_columns=100 # To see the hidden columns in dataframe

In [3]:
df_train_set = pd.read_csv('training_set_values.csv') # train set data

In [4]:
df_train_labels = pd.read_csv('training_set_labels.csv') #train set labels data

# First Look to the Data and Merging Two Dataframes

In [5]:
df_train_labels

          id    status_group
0      69572      functional
1       8776      functional
2      34310      functional
3      67743  non functional
4      19728      functional
...      ...             ...
59395  60739      functional
59396  27263      functional
59397  37057      functional
59398  31282      functional
59399  26348      functional

[59400 rows x 2 columns]

In [6]:
df_train_set

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,Water Board,Losaa Kia water supply,True,1999,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,Igumbilo,Iringa,11,4,Njombe,Ikondo,56,True,GeoData Consultants Ltd,VWC,Ikondo electrical water sch,True,1996,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,Madungulu,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,swn 80,swn 80,handpump,vwc,user-group,pay monthly,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,Mwinyi,Dodoma,1,4,Chamwino,Mvumi Makulu,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,Kikatanyemba,Morogoro,5,2,Morogoro Rural,Ngerengere,150,True,GeoData Consultants Ltd,VWC,NaN,True,2002,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

The index numbers in two data sets look same but it is impossible to check the nearly 60000 points. So, to make sure we assign data sets 'id' as index and after that merge them.

In [7]:
df_train_set.set_index('id',inplace=True) # setting id as an index to train set

In [8]:
df_train_labels.set_index('id',inplace=True) # setting id as an index to train labels

In [9]:
df = pd.merge(df_train_labels, df_train_set, how = 'inner', left_index = True,right_index=True) #merging two data sets

In [10]:
df.reset_index(inplace=True) # setting a new index

# Looking at Columns

In [11]:
df.info() #to see the types of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 41 columns):
id                       59400 non-null int64
status_group             59400 non-null object
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
dtypes: float64(3), int64(7), object(31)
memory usage: 18.6+ MB

In [12]:
df.isna().sum() # to see the null values

id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [13]:
df.describe() # to see numeric columns detailed

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [14]:
df['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

We have highly imbalanced target values. Also, there are some null values and some columns which contain same information in the data set. Now, we will drop them because the same values or dublicated values do not affect our target, and when we simplify our data we can run our models easier.

### scheme_management / management / management_group columns

In [15]:
df['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [16]:
df['management'].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

These two columns has nearly same information. Because scheme_management represents who operates the water point, 'management' represents how the water point is managed. There are 3877 null values in 'scheme_management' column so we prefer 'management' column to keep. The column 'management_group' is also keep similar information that how the water point is managed.

In [17]:
df['management_group'].value_counts()

user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

In [18]:
df.loc[df['management_group']=='user-group']['management'].value_counts() # to find sub-groups of this column

vwc            40507
wug             6515
water board     2933
wua             2535
Name: management, dtype: int64

To find the subgroups of 'management_group' column, we checked the 'user-group' values and saw that this column is just the grouped version of 'management'. Although 'management' has more detailed values, we decided to drop 'management_group' column. Also, to remember and check the sub-groups of the 'management_group' column, we grouped it below and saw the numbers of sub-groups (management column).

In [19]:
df.groupby(['management_group','management']).count() 
# to see how many sub-groups have in management group according to management column

                                      id  status_group  amount_tsh  \
management_group management
commercial       company             685           685         685
                 private operator   1971          1971        1971
                 trust                78            78          78
                 water authority     904           904         904
other            other               844           844         844
                 other - school       99            99          99
parastatal       parastatal         1768          1768        1768
unknown          unknown             561           561         561
user-group       vwc               40507         40507       40507
                 water board        2933          2933        2933
                 wua                2535          2535        2535
                 wug                6515          6515        6515

                                   date_recorded  funder  gps_height  \
management_group management
commercial       company                     685     663         685
                 private operator           1971    1957        1971
                 trust                        78      78          78
                 water authority             904     836         904
other            other                       844     837         844
                 other - school               99      99          99
parastatal       parastatal                 1768    1624        1768
unknown          unknown                     561     533         561
user-group       vwc                       40507   37632       40507
                 water board                2933    2715        2933
                 wua                        2535    2308        2535
                 wug                        6515    6483        6515

                                   installer  longitude  latitude  wpt_name  \
management_group management
commercial       company                 663        685       685       685
                 private operator       1959       1971      1971      1971
                 trust                    78         78        78        78
                 water authority         836        904       904       904
other            other                   831        844       844       844
                 other - school           99         99        99        99
parastatal       parastatal             1626       1768      1768      1768
unknown          unknown                 527        561       561       561
user-group       vwc                   37630      40507     40507     40507
                 water board            2714       2933      2933      2933
                 wua                    2309       2535      2535      2535
                 wug                    6473       6515      6515      6515

                                   num_private  basin  subvillage  region  \
management_group management
commercial       company                   685    685         685     685
                 private operator         1971   1971        1932    1971
                 trust                      78     78          78      78
                 water authority           904    904         895     904
other            other                     844    844         839     844
                 other - school             99     99          99      99
parastatal       parastatal               1768   1768        1768    1768
unknown          unknown                   561    561         561     561
user-group       vwc                     40507  40507       40189   40507
                 water board              2933   2933        2933    2933
                 wua                      2535   2535        2535    2535
                 wug                      6515   6515        6515    6515

                                   region_code  district_code    lga   ward  \
management_group management
commercial       company                   685            685    685    685
                 private operator         1971           1971   1971   1971
                 trust                      78             78     78     78
                 water authority           904            904    904    904
other            other                     844            844    844    844
                 other - school             99             99     99     99
parastatal       parastatal               1768           1768   1768   1768
unknown          unknown                   561            561    561    561
user-group       vwc                     40507          40507  40507  40507
                 water board              2933           2933   2933   2933
                 wua                      2535           2535   2535   2535
                 wug                      6515           6515   6515   6515

                                   population  public_meeting  recorded_by  \
management_group management
commercial       company                  685             684          685
                 private operator        1971            1660         1971
                 trust                     78              77           78
                 water authority          904             878          904
other            other                    844             689          844
                 other - school            99              99           99
parastatal       parastatal              1768            1518         1768
unknown          unknown                  561             301          561
user-group       vwc                    40507           39208        40507
                 water board             2933            2893         2933
                 wua                     2535            2522         2535
                 wug                     6515            5537         6515

                                   scheme_management  scheme_name  permit  \
management_group management
commercial       company                         684          655     658
                 private operator               1852          992    1893
                 trust                            77           26      77
                 water authority                 902          624     825
other            other                           658          270     744
                 other - school                   99            0      99
parastatal       parastatal                     1757          604    1595
unknown          unknown                          93          240     519
user-group       vwc                           38057        22083   38296
                 water board                    2933         2579    2830
                 wua                            2529         2006    2468
                 wug                            5882         1155    6340

                                   construction_year  extraction_type  \
management_group management
commercial       company                         685              685
                 private operator               1971             1971
                 trust                            78               78
                 water authority                 904              904
other            other                           844              844
                 other - school                   99               99
parastatal       parastatal                     1768             1768
unknown          unknown                         561              561
user-group       vwc                           40507            40507
                 water board                    2933             2933
                 wua                            2535             2535
                 wug                            6515             6515

                                   extraction_type_group  \
management_group management
commercial       company                             685
                 private operator                   1971
                 trust                                78
                 water authority                     904
other            other                               844
                 other - school                       99
parastatal       parastatal                         1768
unknown          unknown                             561
user-group       vwc                               40507
                 water board                        2933
                 wua                                2535
                 wug                                6515

                                   extraction_type_class  payment  \
management_group management
commercial       company                             685      685
                 private operator                   1971     1971
                 trust                                78       78
                 water authority                     904      904
other            other                               844      844
                 other - school                       99       99
parastatal       parastatal                         1768     1768
unknown          unknown                             561      561
user-group       vwc                               40507    40507
                 water board                        2933     2933
                 wua                                2535     2535
                 wug                                6515     6515

                                   payment_type  water_quality  quality_group  \
management_group management
commercial       company                    685            685            685
                 private operator          1971           1971           1971
                 trust                       78             78             78
                 water authority            904            904            904
other            other                      844            844            844
                 other - school              99             99             99
parastatal       parastatal                1768           1768           1768
unknown          unknown                    561            561            561
user-group       vwc                      40507          40507          40507
                 water board               2933           2933           2933
                 wua                       2535           2535           2535
                 wug                       6515           6515           6515

                                   quantity  quantity_group  source  \
management_group management
commercial       company                685             685     685
                 private operator      1971            1971    1971
                 trust                   78              78      78
                 water authority        904             904     904
other            other                  844             844     844
                 other - school          99              99      99
parastatal       parastatal            1768            1768    1768
unknown          unknown                561             561     561
user-group       vwc                  40507           40507   40507
                 water board           2933            2933    2933
                 wua                   2535            2535    2535
                 wug                   6515            6515    6515

                                   source_type  source_class  waterpoint_type  \
management_group management
commercial       company                   685           685              685
                 private operator         1971          1971             1971
                 trust                      78            78               78
                 water authority           904           904              904
other            other                     844           844              844
                 other - school             99            99               99
parastatal       parastatal               1768          1768             1768
unknown          unknown                   561           561              561
user-group       vwc                     40507         40507            40507
                 water board              2933          2933             2933
                 wua                      2535          2535             2535
                 wug                      6515          6515             6515

                                   waterpoint_type_group
management_group management
commercial       company                             685
                 private operator                   1971
                 trust                                78
                 water authority                     904
other            other                               844
                 other - school                       99
parastatal       parastatal                         1768
unknown          unknown                             561
user-group       vwc                               40507
                 water board                        2933
                 wua                                2535
                 wug                                6515

### quantity / quantity_group columns

In [20]:
df['quantity'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [21]:
df['quantity_group'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

These two columns contain same information so we decided to drop 'quantity_group' column.

### source / source_type / source_class columns

In [22]:
df['source'].value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [23]:
df['source_type'].value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [24]:
df['source_class'].value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

In [25]:
df.groupby(['source_class','source']).count()
# to see how many sub-groups have in source_class according to source column

                                      id  status_group  amount_tsh  \
source_class source
groundwater  hand dtw                874           874         874
             machine dbh           11075         11075       11075
             shallow well          16824         16824       16824
             spring                17021         17021       17021
surface      dam                     656           656         656
             lake                    765           765         765
             rainwater harvesting   2295          2295        2295
             river                  9612          9612        9612
unknown      other                   212           212         212
             unknown                  66            66          66

                                   date_recorded  funder  gps_height  \
source_class source
groundwater  hand dtw                        874     868         874
             machine dbh                   11075   10252       11075
             shallow well                  16824   16302       16824
             spring                        17021   15870       17021
surface      dam                             656     647         656
             lake                            765     763         765
             rainwater harvesting           2295    2099        2295
             river                          9612    8715        9612
unknown      other                           212     204         212
             unknown                          66      45          66

                                   installer  longitude  latitude  wpt_name  \
source_class source
groundwater  hand dtw                    868        874       874       874
             machine dbh               10246      11075     11075     11075
             shallow well              16286      16824     16824     16824
             spring                    15870      17021     17021     17021
surface      dam                         646        656       656       656
             lake                        762        765       765       765
             rainwater harvesting       2096       2295      2295      2295
             river                      8721       9612      9612      9612
unknown      other                       204        212       212       212
             unknown                      46         66        66        66

                                   num_private  basin  subvillage  region  \
source_class source
groundwater  hand dtw                      874    874         874     874
             machine dbh                 11075  11075       10849   11075
             shallow well                16824  16824       16817   16824
             spring                      17021  17021       16886   17021
surface      dam                           656    656         656     656
             lake                          765    765         764     765
             rainwater harvesting         2295   2295        2293    2295
             river                        9612   9612        9612    9612
unknown      other                         212    212         212     212
             unknown                        66     66          66      66

                                   region_code  district_code    lga   ward  \
source_class source
groundwater  hand dtw                      874            874    874    874
             machine dbh                 11075          11075  11075  11075
             shallow well                16824          16824  16824  16824
             spring                      17021          17021  17021  17021
surface      dam                           656            656    656    656
             lake                          765            765    765    765
             rainwater harvesting         2295           2295   2295   2295
             river                        9612           9612   9612   9612
unknown      other                         212            212    212    212
             unknown                        66             66     66     66

                                   population  public_meeting  recorded_by  \
source_class source
groundwater  hand dtw                     874             787          874
             machine dbh                11075           10253        11075
             shallow well               16824           15522        16824
             spring                     17021           16384        17021
surface      dam                          656             614          656
             lake                         765             628          765
             rainwater harvesting        2295            2089         2295
             river                       9612            9543         9612
unknown      other                        212             201          212
             unknown                       66              45           66

                                   scheme_management  scheme_name  permit  \
source_class source
groundwater  hand dtw                            867          122     869
             machine dbh                       10577         5491   10293
             shallow well                      14127         1129   16253
             spring                            16755        14903   15981
surface      dam                                 644          474     630
             lake                                741          607     765
             rainwater harvesting               2065          319    2039
             river                              9506         8020    9248
unknown      other                               195          144     208
             unknown                              46           25      58

                                   construction_year  extraction_type  \
source_class source
groundwater  hand dtw                            874              874
             machine dbh                       11075            11075
             shallow well                      16824            16824
             spring                            17021            17021
surface      dam                                 656              656
             lake                                765              765
             rainwater harvesting               2295             2295
             river                              9612             9612
unknown      other                               212              212
             unknown                              66               66

                                   extraction_type_group  \
source_class source
groundwater  hand dtw                                874
             machine dbh                           11075
             shallow well                          16824
             spring                                17021
surface      dam                                     656
             lake                                    765
             rainwater harvesting                   2295
             river                                  9612
unknown      other                                   212
             unknown                                  66

                                   extraction_type_class  management  \
source_class source
groundwater  hand dtw                                874         874
             machine dbh                           11075       11075
             shallow well                          16824       16824
             spring                                17021       17021
surface      dam                                     656         656
             lake                                    765         765
             rainwater harvesting                   2295        2295
             river                                  9612        9612
unknown      other                                   212         212
             unknown                                  66          66

                                   management_group  payment  payment_type  \
source_class source
groundwater  hand dtw                           874      874           874
             machine dbh                      11075    11075         11075
             shallow well                     16824    16824         16824
             spring                           17021    17021         17021
surface      dam                                656      656           656
             lake                               765      765           765
             rainwater harvesting              2295     2295          2295
             river                             9612     9612          9612
unknown      other                              212      212           212
             unknown                             66       66            66

                                   water_quality  quality_group  quantity  \
source_class source
groundwater  hand dtw                        874            874       874
             machine dbh                   11075          11075     11075
             shallow well                  16824          16824     16824
             spring                        17021          17021     17021
surface      dam                             656            656       656
             lake                            765            765       765
             rainwater harvesting           2295           2295      2295
             river                          9612           9612      9612
unknown      other                           212            212       212
             unknown                          66             66        66

                                   quantity_group  source_type  \
source_class source
groundwater  hand dtw                         874          874
             machine dbh                    11075        11075
             shallow well                   16824        16824
             spring                         17021        17021
surface      dam                              656          656
             lake                             765          765
             rainwater harvesting            2295         2295
             river                           9612         9612
unknown      other                            212          212
             unknown                           66           66

                                   waterpoint_type  waterpoint_type_group
source_class source
groundwater  hand dtw                          874                    874
             machine dbh                     11075                  11075
             shallow well                    16824                  16824
             spring                          17021                  17021
surface      dam                               656                    656
             lake                              765                    765
             rainwater harvesting             2295                   2295
             river                            9612                   9612
unknown      other                             212                    212
             unknown                            66                     66

It is obvious that these three columns keep same information. so, we decided to keep just 'source' column, because it has more detailed information and we will drop others.

### water_quality / quality_group columns

In [26]:
df['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [27]:
df['quality_group'].value_counts()

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

'water_quality' column has more unique values, so we will keep 'water_quality' and drop 'quality_group'.

### payment / payment_type columns

In [28]:
df['payment'].value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [29]:
df['payment_type'].value_counts()

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

These two columns are same so we decided to drop one of them.

### extraction_type / extraction_type_group / extraction_type_class columns

In [30]:
df['extraction_type'].value_counts()

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [31]:
df['extraction_type_group'].value_counts()

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [32]:
df['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

In [33]:
df.groupby(['extraction_type_class','extraction_type_group']).count()
# to see how many sub-groups have in extraction_type_clas according to extraction_type_group

                                                id  status_group  amount_tsh  \
extraction_type_class extraction_type_group
gravity               gravity                26780         26780       26780
handpump              afridev                 1770          1770        1770
                      india mark ii           2400          2400        2400
                      india mark iii            98            98          98
                      nira/tanira             8154          8154        8154
                      other handpump           364           364         364
                      swn 80                  3670          3670        3670
motorpump             mono                    2865          2865        2865
                      other motorpump          122           122         122
other                 other                   6430          6430        6430
rope pump             rope pump                451           451         451
submersible           submersible             6179          6179        6179
wind-powered          wind-powered             117           117         117

                                             date_recorded  funder  \
extraction_type_class extraction_type_group
gravity               gravity                        26780   24704
handpump              afridev                         1770    1668
                      india mark ii                   2400    2358
                      india mark iii                    98      98
                      nira/tanira                     8154    7899
                      other handpump                   364     353
                      swn 80                          3670    3596
motorpump             mono                            2865    2577
                      other motorpump                  122     122
other                 other                           6430    6010
rope pump             rope pump                        451     448
submersible           submersible                     6179    5820
wind-powered          wind-powered                     117     112

                                             gps_height  installer  longitude  \
extraction_type_class extraction_type_group
gravity               gravity                     26780      24714      26780
handpump              afridev                      1770       1665       1770
                      india mark ii                2400       2358       2400
                      india mark iii                 98         98         98
                      nira/tanira                  8154       7885       8154
                      other handpump                364        354        364
                      swn 80                       3670       3593       3670
motorpump             mono                         2865       2578       2865
                      other motorpump               122        122        122
other                 other                        6430       6002       6430
rope pump             rope pump                     451        448        451
submersible           submersible                  6179       5816       6179
wind-powered          wind-powered                  117        112        117

                                             latitude  wpt_name  num_private  \
extraction_type_class extraction_type_group
gravity               gravity                   26780     26780        26780
handpump              afridev                    1770      1770         1770
                      india mark ii              2400      2400         2400
                      india mark iii               98        98           98
                      nira/tanira                8154      8154         8154
                      other handpump              364       364          364
                      swn 80                     3670      3670         3670
motorpump             mono                       2865      2865         2865
                      other motorpump             122       122          122
other                 other                      6430      6430         6430
rope pump             rope pump                   451       451          451
submersible           submersible                6179      6179         6179
wind-powered          wind-powered                117       117          117

                                             basin  subvillage  region  \
extraction_type_class extraction_type_group
gravity               gravity                26780       26646   26780
handpump              afridev                 1770        1770    1770
                      india mark ii           2400        2400    2400
                      india mark iii            98          98      98
                      nira/tanira             8154        8151    8154
                      other handpump           364         364     364
                      swn 80                  3670        3670    3670
motorpump             mono                    2865        2748    2865
                      other motorpump          122         122     122
other                 other                   6430        6421    6430
rope pump             rope pump                451         451     451
submersible           submersible             6179        6071    6179
wind-powered          wind-powered             117         117     117

                                             region_code  district_code  \
extraction_type_class extraction_type_group
gravity               gravity                      26780          26780
handpump              afridev                       1770           1770
                      india mark ii                 2400           2400
                      india mark iii                  98             98
                      nira/tanira                   8154           8154
                      other handpump                 364            364
                      swn 80                        3670           3670
motorpump             mono                          2865           2865
                      other motorpump                122            122
other                 other                         6430           6430
rope pump             rope pump                      451            451
submersible           submersible                   6179           6179
wind-powered          wind-powered                   117            117

                                               lga   ward  population  \
extraction_type_class extraction_type_group
gravity               gravity                26780  26780       26780
handpump              afridev                 1770   1770        1770
                      india mark ii           2400   2400        2400
                      india mark iii            98     98          98
                      nira/tanira             8154   8154        8154
                      other handpump           364    364         364
                      swn 80                  3670   3670        3670
motorpump             mono                    2865   2865        2865
                      other motorpump          122    122         122
other                 other                   6430   6430        6430
rope pump             rope pump                451    451         451
submersible           submersible             6179   6179        6179
wind-powered          wind-powered             117    117         117

                                             public_meeting  recorded_by  \
extraction_type_class extraction_type_group
gravity               gravity                         25829        26780
handpump              afridev                          1624         1770
                      india mark ii                    2297         2400
                      india mark iii                     88           98
                      nira/tanira                      7478         8154
                      other handpump                    348          364
                      swn 80                           3503         3670
motorpump             mono                             2760         2865
                      other motorpump                   122          122
other                 other                            5980         6430
rope pump             rope pump                         346          451
submersible           submersible                      5575         6179
wind-powered          wind-powered                      116          117

                                             scheme_management  scheme_name  \
extraction_type_class extraction_type_group
gravity               gravity                            26305        21846
handpump              afridev                             1614          216
                      india mark ii                       2193          200
                      india mark iii                        97            3
                      nira/tanira                         7170          769
                      other handpump                       352           79
                      swn 80                              3087          155
motorpump             mono                                2847         2221
                      other motorpump                      121          118
other                 other                               5225          930
rope pump             rope pump                            376           27
submersible           submersible                         6019         4596
wind-powered          wind-powered                         117           74

                                             permit  construction_year  \
extraction_type_class extraction_type_group
gravity               gravity                 25234              26780
handpump              afridev                  1660               1770
                      india mark ii            2359               2400
                      india mark iii             98                 98
                      nira/tanira              7920               8154
                      other handpump            356                364
                      swn 80                   3655               3670
motorpump             mono                     2582               2865
                      other motorpump           122                122
other                 other                    6050               6430
rope pump             rope pump                 349                451
submersible           submersible              5854               6179
wind-powered          wind-powered              105                117

                                             extraction_type  management  \
extraction_type_class extraction_type_group
gravity               gravity                          26780       26780
handpump              afridev                           1770        1770
                      india mark ii                     2400        2400
                      india mark iii                      98          98
                      nira/tanira                       8154        8154
                      other handpump                     364         364
                      swn 80                            3670        3670
motorpump             mono                              2865        2865
                      other motorpump                    122         122
other                 other                             6430        6430
rope pump             rope pump                          451         451
submersible           submersible                       6179        6179
wind-powered          wind-powered                       117         117

                                             management_group  payment  \
extraction_type_class extraction_type_group
gravity               gravity                           26780    26780
handpump              afridev                            1770     1770
                      india mark ii                      2400     2400
                      india mark iii                       98       98
                      nira/tanira                        8154     8154
                      other handpump                      364      364
                      swn 80                             3670     3670
motorpump             mono                               2865     2865
                      other motorpump                     122      122
other                 other                              6430     6430
rope pump             rope pump                           451      451
submersible           submersible                        6179     6179
wind-powered          wind-powered                        117      117

                                             payment_type  water_quality  \
extraction_type_class extraction_type_group
gravity               gravity                       26780          26780
handpump              afridev                        1770           1770
                      india mark ii                  2400           2400
                      india mark iii                   98             98
                      nira/tanira                    8154           8154
                      other handpump                  364            364
                      swn 80                         3670           3670
motorpump             mono                           2865           2865
                      other motorpump                 122            122
other                 other                          6430           6430
rope pump             rope pump                       451            451
submersible           submersible                    6179           6179
wind-powered          wind-powered                    117            117

                                             quality_group  quantity  \
extraction_type_class extraction_type_group
gravity               gravity                        26780     26780
handpump              afridev                         1770      1770
                      india mark ii                   2400      2400
                      india mark iii                    98        98
                      nira/tanira                     8154      8154
                      other handpump                   364       364
                      swn 80                          3670      3670
motorpump             mono                            2865      2865
                      other motorpump                  122       122
other                 other                           6430      6430
rope pump             rope pump                        451       451
submersible           submersible                     6179      6179
wind-powered          wind-powered                     117       117

                                             quantity_group  source  \
extraction_type_class extraction_type_group
gravity               gravity                         26780   26780
handpump              afridev                          1770    1770
                      india mark ii                    2400    2400
                      india mark iii                     98      98
                      nira/tanira                      8154    8154
                      other handpump                    364     364
                      swn 80                           3670    3670
motorpump             mono                             2865    2865
                      other motorpump                   122     122
other                 other                            6430    6430
rope pump             rope pump                         451     451
submersible           submersible                      6179    6179
wind-powered          wind-powered                      117     117

                                             source_type  source_class  \
extraction_type_class extraction_type_group
gravity               gravity                      26780         26780
handpump              afridev                       1770          1770
                      india mark ii                 2400          2400
                      india mark iii                  98            98
                      nira/tanira                   8154          8154
                      other handpump                 364           364
                      swn 80                        3670          3670
motorpump             mono                          2865          2865
                      other motorpump                122           122
other                 other                         6430          6430
rope pump             rope pump                      451           451
submersible           submersible                   6179          6179
wind-powered          wind-powered                   117           117

                                             waterpoint_type  \
extraction_type_class extraction_type_group
gravity               gravity                          26780
handpump              afridev                           1770
                      india mark ii                     2400
                      india mark iii                      98
                      nira/tanira                       8154
                      other handpump                     364
                      swn 80                            3670
motorpump             mono                              2865
                      other motorpump                    122
other                 other                             6430
rope pump             rope pump                          451
submersible           submersible                       6179
wind-powered          wind-powered                       117

                                             waterpoint_type_group
extraction_type_class extraction_type_group
gravity               gravity                                26780
handpump              afridev                                 1770
                      india mark ii                           2400
                      india mark iii                            98
                      nira/tanira                             8154
                      other handpump                           364
                      swn 80                                  3670
motorpump             mono                                    2865
                      other motorpump                          122
other                 other                                   6430
rope pump             rope pump                                451
submersible           submersible                             6179
wind-powered          wind-powered                             117

It is obviously seen that these three columns keep same information. So, we decided to keep 'extraction_type_group' and drop others. Although, extraction_type has more unique values than extraction_type_group , some of these values are very small amount according to this big dataset. We prefered to use more compact one. Also, extraction_type_class contains less detail. So, extraction_type_group is chosen to keep.

### waterpoint_type / waterpoint_type_group

In [34]:
df['waterpoint_type'].value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [35]:
df['waterpoint_type_group'].value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

We decided to keep 'waterpoint_type' which contains more detail.

# Dropping Similar Columns

In [36]:
df.drop(columns=['management_group','scheme_management','quantity_group','source_class','source_type','quality_group',
                'payment_type','extraction_type_class','extraction_type', 'waterpoint_type_group'],inplace=True )

# Continue to Exploring Columns

We continue to check data for finding unnecessary or wrong values.

### construction_year column

In [37]:
df['construction_year'].value_counts()

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [38]:
df.loc[df['construction_year']!=0].describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,38691.000000,38691.000000,38691.000000,38691.000000,38691.000000,38691.000000,38691.000000,38691.000000,38691.000000,38691.000000
mean,37083.008736,466.457534,1002.367760,35.983262,-6.235372,0.707710,15.706495,5.969786,269.799617,1996.814686
std,21420.922010,3541.036030,618.078669,2.558709,2.761317,15.083957,21.003006,10.700673,552.343746,12.472045
min,1.000000,0.000000,-63.000000,29.607122,-11.649440,0.000000,2.000000,1.000000,0.000000,1960.000000
25%,18489.500000,0.000000,372.000000,34.676719,-8.755274,0.000000,4.000000,2.000000,30.000000,1987.000000
50%,37078.000000,0.000000,1154.000000,36.648187,-6.064216,0.000000,11.000000,3.000000,150.000000,2000.000000
75%,55514.500000,200.000000,1488.000000,37.803940,-3.650661,0.000000,16.000000,5.000000,305.000000,2008.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-1.042375,1776.000000,99.000000,63.000000,30500.000000,2013.000000

In [48]:
df['construction_year'].replace(to_replace = 0, value = 2000, inplace=True)

### recorded_by column

In [52]:
df['recorded_by'].value_counts()

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

The recorded_by column has one value. This will not give any information to our model. So, we dropped it also.

In [53]:
df.drop(columns=['recorded_by'],inplace=True )

### installer column

In [130]:
df['installer'].fillna(value='Unknown',inplace=True)

In [284]:
df['installer'].value_counts().head(100).sum()

49351

In [223]:
df['installer'].replace(to_replace = '0', value ='Unknown' , inplace=True)

In [248]:
df['installer'].replace(to_replace = ('District Water Department', 'District water depar','Distric Water Department'),
                        value ='District water department' , inplace=True)

df['installer'].replace(to_replace = ('FinW','Fini water','FINI WATER'), value ='Fini Water' , inplace=True)
df['installer'].replace(to_replace = 'JAICA', value ='Jaica' , inplace=True)

df['installer'].replace(to_replace = ('COUN', 'District COUNCIL', 'DISTRICT COUNCIL','District Counci', 
                                      'District Council','Council','Counc','District  Council','Distri'),
                                    value ='District council' , inplace=True)

df['installer'].replace(to_replace = ('RC CHURCH', 'RC Churc', 'RC','RC Ch','RC C', 'RC CH','RC church', 
                                      'RC CATHORIC',) , value ='RC Church' , inplace=True)

df['installer'].replace(to_replace = ('Central Government','Tanzania Government',
                                       'central government','Cental Government', 'Cebtral Government', 
                                      'Tanzanian Government','Tanzania government', 'Centra Government' ,
                                      'CENTRAL GOVERNMENT', 'TANZANIAN GOVERNMENT','Central govt', 'Centr', 
                                      'Centra govt') , value ='Central government' , inplace=True)

df['installer'].replace(to_replace = ('World vision', 'World Division','World Vision'),
                                        value ='world vision' , inplace=True)

df['installer'].replace(to_replace = ('Unisef','UNICEF'),value ='Unicef' , inplace=True)
df['installer'].replace(to_replace = 'DANID', value ='DANIDA' , inplace=True)

df['installer'].replace(to_replace = ('villigers', 'villager', 'Villagers', 'Villa', 'Village', 'Villi', 
                                      'Village Council','Village Counil', 'Villages', 'Vill', 'Village community', 
                                      'Villaers', 'Village Community', 'Villag','Villege Council', 'Village council',
                                      'Village  Council','Villagerd', 'Villager', 'Village Technician',
                                      'Village Office','Village community members'),
                                        value ='villagers' , inplace=True)

df['installer'].replace(to_replace =('Commu','Communit','commu','COMMU', 'COMMUNITY') ,
                                        value ='Community' , inplace=True)

df['installer'].replace(to_replace = ('GOVERNMENT', 'GOVER', 'GOVERNME', 'GOVERM','GOVERN','Gover','Gove',
                                      'Governme','Governmen' ) ,value ='Government' , inplace=True)

In [194]:
df['installer'].replace(to_replace = ('Colonial Government') , value ='Colonial government' , inplace=True)
df['installer'].replace(to_replace = ('Government of Misri') , value ='Misri Government' , inplace=True)
df['installer'].replace(to_replace = ('Italy government') , value ='Italian government' , inplace=True)
df['installer'].replace(to_replace = ('British colonial government') , value ='British government' , inplace=True)
df['installer'].replace(to_replace = ('Concern /government') , value ='Concern/Government' , inplace=True)
df['installer'].replace(to_replace = ('Village Government') , value ='Village government' , inplace=True)
df['installer'].replace(to_replace = ('Government and Community') , value ='Government /Community' , inplace=True)
df['installer'].replace(to_replace = ('Cetral government /RC') , value ='RC church/Central Gover' , inplace=True)
df['installer'].replace(to_replace = ('Government /TCRS','Government/TCRS') , value ='TCRS /Government' , inplace=True)
df['installer'].replace(to_replace = ('ADRA /Government') , value ='ADRA/Government' , inplace=True)

In [276]:
(49351*100)/59400 # percentage of seeing value counts of installer

83.08249158249158

We checked the first 100 value counts of installer column. Because we realized some installer names are written with mistake and given as different like 'District Council' and 'District council'. So, we will change the values which we realied. The first 100 value counts contains 49351 values. It means 83% of data is checked.

### funder column

In [285]:
df['funder'].fillna(value='Unknown',inplace=True)
df['funder'].replace(to_replace = '0', value ='Unknown' , inplace=True)

In [286]:
df['funder'].value_counts().head(100)

Government Of Tanzania            9084
Unknown                           4416
Danida                            3114
Hesawa                            2202
Rwssp                             1374
World Bank                        1349
Kkkt                              1287
World Vision                      1246
Unicef                            1057
Tasaf                              877
District Council                   843
Dhv                                829
Private Individual                 826
Dwsp                               811
Norad                              765
Germany Republi                    610
Tcrs                               602
Ministry Of Water                  590
Water                              583
Dwe                                484
Netherlands                        470
Hifab                              450
Adb                                448
Lga                                442
Amref                              425
Fini Water                         393
Oxfam                              359
Wateraid                           333
Rc Church                          321
Isf                                316
Rudep                              312
Mission                            301
Private                            295
Jaica                              280
Roman                              275
Rural Water Supply And Sanitat     270
Adra                               263
Ces(gmbh)                          260
Jica                               259
Shipo                              241
Wsdp                               234
Rc                                 230
Finw                               219
Dh                                 213
Ded                                198
Plan Int                           195
Kiliwater                          189
Dmdd                               186
Go                                 181
Lawatefuka Water Supply            180
Oxfarm                             176
Magadini-makiwaru Water            175
Fw                                 173
W.B                                170
Kkkt_makwale                       166
Ces (gmbh)                         165
Wvt                                158
Oikos E.Afrika                     155
Nethalan                           152
Mkinga Distric Coun                150
Lvia                               147
Concern World Wide                 145
Unhcr                              137
No                                 134
Swedish                            131
African                            128
Community                          126
Anglican Church                    126
He                                 125
Is                                 125
Ki                                 124
Ir                                 123
Tardo                              123
Wananchi                           122
Snv                                122
Roman Catholic                     121
Wua                                121
Unice                              119
Bsf                                117
Tassaf                             116
Co                                 111
Dfid                               110
Lamp                               110
Concern                            108
Muwsa                              107
Villagers                          106
Ru                                 105
Village Council                    105
Halmashauri Ya Wilaya Sikonge      102
Germany                            101
Hsw                                101
Twe                                 97
Idc                                 92
Tanza                               88
Missi                               87
Undp                                86
H                                   86
Mdrdp                               86
Aict                                85
Gtz                                 84
Name: funder, dtype: int64

### longitude column

In [311]:
df.loc[df['longitude']==0] # to check outside of Tanzania

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,scheme_name,permit,construction_year,extraction_type_group,management,payment,water_quality,quantity,source,waterpoint_type
21,6091,functional,0.0,2013-02-10,Dwsp,0,DWE,0.0,-2.000000e-08,Muungano,0,Lake Victoria,Ibabachegu,Shinyanga,17,1,Bariadi,Ikungulyabashashi,0,NaN,NaN,False,2000,swn 80,wug,unknown,unknown,unknown,shallow well,hand pump
53,32376,non functional,0.0,2011-08-01,Government Of Tanzania,0,Government,0.0,-2.000000e-08,Polisi,0,Lake Victoria,Center,Mwanza,19,6,Geita,Nyang'hwale,0,True,Nyang'hwale,True,2000,submersible,vwc,unknown,unknown,dry,machine dbh,communal standpipe multiple
168,72678,functional,0.0,2013-01-30,Wvt,0,WVT,0.0,-2.000000e-08,Wvt Tanzania,0,Lake Victoria,Ilula,Shinyanga,17,1,Bariadi,Chinamili,0,False,NaN,False,2000,gravity,parastatal,other,soft,seasonal,rainwater harvesting,communal standpipe
177,56725,non functional,0.0,2013-01-17,Netherlands,0,DWE,0.0,-2.000000e-08,Kikundi Cha Wakina Mama,0,Lake Victoria,Mahaha,Shinyanga,17,1,Bariadi,Bunamhala,0,NaN,NaN,False,2000,other,wug,unknown,soft,enough,shallow well,other
253,13042,functional needs repair,0.0,2012-10-29,Hesawa,0,DWE,0.0,-2.000000e-08,Kwakisusi,0,Lake Victoria,Nyamatala,Mwanza,19,2,Magu,Malili,0,True,NaN,True,2000,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59189,62177,functional needs repair,0.0,2011-07-18,Dwsp,0,DWE,0.0,-2.000000e-08,Wazazo,0,Lake Victoria,Mwamabuli,Shinyanga,17,1,Bariadi,Mhunze,0,True,NaN,False,2000,nira/tanira,wug,other,soft,enough,shallow well,hand pump
59208,3631,functional,0.0,2013-01-22,Dwsp,0,DWE,0.0,-2.000000e-08,Mtakuja,0,Lake Victoria,Mbiti,Shinyanga,17,1,Bariadi,Kinang'weli,0,NaN,NaN,False,2000,nira/tanira,wug,unknown,soft,enough,shallow well,hand pump
59295,60843,functional needs repair,0.0,2011-07-19,Rwssp,0,DWE,0.0,-2.000000e-08,Maendeleo,0,Lake Victoria,Mwamalizi,Shinyanga,17,1,Bariadi,Chinamili,0,True,NaN,False,2000,nira/tanira,wug,never pay,soft,enough,shallow well,hand pump
59324,748,functional,0.0,2013-01-22,World Vision,0,world vision,0.0,-2.000000e-08,Mwazwilo,0,Lake Victoria,Mbita,Shinyanga,17,1,Bariadi,Mbita,0,NaN,NaN,False,2000,nira/tanira,wug,unknown,soft,enough,shallow well,hand pump
59374,49651,functional,0.0,2012-10-29,Rwssp,0,DWE,0.0,-2.000000e-08,Nguvu Kazi,0,Lake Victoria,Mwamtani A,Shinyanga,17,1,Bariadi,Sagata,0,True,NaN,False,2000,nira/tanira,wug,other,soft,enough,shallow well,hand pump

In [312]:
df.loc[df['longitude']!=0].describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,57588.00000,57588.000000,57588.000000,57588.000000,57588.000000,57588.000000,57588.000000,57588.000000,57588.000000,57588.000000
mean,37106.48807,327.645219,689.325137,35.149669,-5.885572,0.489060,15.217615,5.728311,185.570831,1997.859919
std,21454.51421,3043.831403,693.564188,2.607428,2.809876,12.426954,17.855254,9.760254,477.744239,10.331744
min,0.00000,0.000000,-90.000000,29.607122,-11.649440,0.000000,1.000000,0.000000,0.000000,1960.000000
25%,18522.75000,0.000000,0.000000,33.285100,-8.643841,0.000000,5.000000,2.000000,0.000000,1995.000000
50%,37054.50000,0.000000,426.000000,35.005943,-5.172704,0.000000,12.000000,3.000000,35.000000,2000.000000
75%,55667.25000,30.000000,1332.000000,37.233712,-3.372824,0.000000,17.000000,5.000000,230.000000,2004.000000
max,74247.00000,350000.000000,2770.000000,40.345193,-0.998464,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [314]:
df['longitude'].replace(to_replace = 0 , value =35.15, inplace=True)

In [327]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 27 columns):
status_group             59400 non-null object
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   59400 non-null object
gps_height               59400 non-null int64
installer                59400 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type_group    59400 non-null object
management               59400 non-null object
payment                  59400 non-null object
water_quality            59400 non-null object
quantity                 59400 non-null object
source                   59400 non-null object
waterpoint_type          59400 non-null object
dtypes: float64(3), int64(6), object(18)
memory usage: 12.2+ MB

### wpt_name & scheme_name columns

In [316]:
df['wpt_name'].value_counts()

none                   3563
Shuleni                1748
Zahanati                830
Msikitini               535
Kanisani                323
                       ...
Msese                     1
Kwa Kichumvi              1
Yope                      1
Kwa Mzee Nzengahata       1
Kasimbagu                 1
Name: wpt_name, Length: 37400, dtype: int64

In [319]:
df['scheme_name'].value_counts()

K                           682
None                        644
Borehole                    546
Chalinze wate               405
M                           400
                           ...
Rain Water Harvesting         1
ADP Simbu                     1
Mradi wa maji wa Rusimbi      1
Bulenya water supply          1
KAIBANJA PUMPING SCHEME       1
Name: scheme_name, Length: 2696, dtype: int64

In [317]:
df.drop(columns=['wpt_name','scheme_name','id','region_code'],inplace=True )

In [325]:
df.duplicated(subset='id', keep='first').sum()

0

In [329]:
df['region'].value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

### amount_tsh column

In [60]:
df['amount_tsh'].value_counts()

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [62]:
df.loc[df['amount_tsh']==0].groupby('status_group').count()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,scheme_name,permit,construction_year,extraction_type_group,management,payment,water_quality,quantity,source,waterpoint_type
status_group,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
functional,19706,19706,19706,18026,19706,18012,19706,19706,19706,19706,19706,19501,19706,19706,19706,19706,19706,19706,18444,8759,18374,19706,19706,19706,19706,19706,19706,19706,19706
functional needs repair,3048,3048,3048,2635,3048,2633,3048,3048,3048,3048,3048,3047,3048,3048,3048,3048,3048,3048,2906,1286,2775,3048,3048,3048,3048,3048,3048,3048,3048
non functional,18885,18885,18885,17697,18885,17698,18885,18885,18885,18885,18885,18720,18885,18885,18885,18885,18885,18885,17475,8619,17862,18885,18885,18885,18885,18885,18885,18885,18885

In [63]:
df['amount_tsh'].value_counts()/df['amount_tsh'].count()

0.0         0.700993
500.0       0.052222
50.0        0.041616
1000.0      0.025051
20.0        0.024630
              ...
8500.0      0.000017
6300.0      0.000017
220.0       0.000017
138000.0    0.000017
12.0        0.000017
Name: amount_tsh, Length: 98, dtype: float64

# We will decided this zero values later?????

### gps_height column

In [65]:
df['gps_height'].value_counts()

 0       20438
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

In [71]:
df['gps_height'].value_counts()/df['gps_height'].count()

 0       0.344074
-15      0.001010
-16      0.000926
-13      0.000926
-20      0.000875
           ...
 2285    0.000017
 2424    0.000017
 2552    0.000017
 2413    0.000017
 2385    0.000017
Name: gps_height, Length: 2428, dtype: float64

### population column

In [73]:
df['population'].value_counts()

0       21381
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

In [74]:
df.loc[df['population']==0].groupby('status_group').count()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,scheme_name,permit,construction_year,extraction_type_group,management,payment,water_quality,quantity,source,waterpoint_type
status_group,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
functional,11274,11274,11274,10048,11274,10033,11274,11274,11274,11274,11274,11071,11274,11274,11274,11274,11274,11274,10700,4303,10596,11274,11274,11274,11274,11274,11274,11274,11274
functional needs repair,1775,1775,1775,1464,1775,1462,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775,1775,1732,573,1613,1775,1775,1775,1775,1775,1775,1775,1775
non functional,8332,8332,8332,7753,8332,7755,8332,8332,8332,8332,8332,8174,8332,8332,8332,8332,8332,8332,7967,3479,8063,8332,8332,8332,8332,8332,8332,8332,8332